/*#statereps {
  background: url("../images/alaska-flag-large.jpg");
  background-color: rgba(255,255,255,0.9);
  background-blend-mode: lighten;
  background-size: cover;
}*/
//<img ng-src="../images/{{repinfofed.state}}.jpg" />
#fedreps {
  background: url("../images/American-Iphone-Flag-HD-Wallpapers_V2.jpg");
  background-color: rgba(255,255,255,0.7);
  background-blend-mode: lighten;
  background-size: cover;
}
.AK { background-image: url('../images/stateFlags/AK.png');
  background-position: 0rem 0rem;
  background-repeat: no-repeat;
  background-size: 50%, contain;
}
.AL { background-image: url('../images/stateFlags/AL.png');
  background-position: 0rem 0rem;
  background-repeat: no-repeat;
  background-size: 50%, contain;
}
.AR { background-image: url('../images/stateFlags/AR.png');
  background-position: 0rem 0rem;
  background-repeat: no-repeat;
  background-size: 50%, contain;
}
.AZ { background-image: url('../images/stateFlags/AZ.png');
  background-position: 0rem 0rem;
  background-repeat: no-repeat;
  background-size: 50%, contain;
}
.CA { background-image: url('../images/stateFlags/CA.png');
  background-position: 0rem 0rem;
  background-repeat: no-repeat;
  background-size: 50%, contain;
}
.CO { background-image: url('../images/stateFlags/CO.png');
  background-position: 0rem 0rem;
  background-repeat: no-repeat;
  background-size: 50%, contain;
}
.CT { background-image: url('../images/stateFlags/CT.png');
  background-position: 0rem 0rem;
  background-repeat: no-repeat;
  background-size: 50%, contain;
}
.DC { background-image: url('../images/stateFlags/DC.png');
  background-position: 0rem 0rem;
  background-repeat: no-repeat;
  background-size: 50%, contain;
}
.DE { background-image: url('../images/stateFlags/DE.png');
  background-position: 0rem 0rem;
  background-repeat: no-repeat;
  background-size: 50%, contain;
}
.FL { background-image: url('../images/stateFlags/FL.png');
  background-position: 0rem 0rem;
  background-repeat: no-repeat;
  background-size: 50%, contain;
}
.GA { background-image: url('../images/stateFlags/GA.png');
  background-position: 0rem 0rem;
  background-repeat: no-repeat;
  background-size: 50%, contain;
}
.HI { background-image: url('../images/stateFlags/HI.png');
  background-position: 0rem 0rem;
  background-repeat: no-repeat;
  background-size: 50%, contain;
}
.IA { background-image: url('../images/stateFlags/IA.png');
  background-position: 0rem 0rem;
  background-repeat: no-repeat;
  background-size: 50%, contain;
}
.ID { background-image: url('../images/stateFlags/ID.png');
  background-position: 0rem 0rem;
  background-repeat: no-repeat;
  background-size: 50%, contain;
}
.IL { background-image: url('../images/stateFlags/IL.png');
  background-position: 0rem 0rem;
  background-repeat: no-repeat;
  background-size: 50%, contain;
}
.IN { background-image: url('../images/stateFlags/IN.png');
  background-position: 0rem 0rem;
  background-repeat: no-repeat;
  background-size: 50%, contain;
}
.KS { background-image: url('../images/stateFlags/KS.png');
  background-position: 0rem 0rem;
  background-repeat: no-repeat;
  background-size: 50%, contain;
}
.KY { background-image: url('../images/stateFlags/KY.png');
  background-position: 0rem 0rem;
  background-repeat: no-repeat;
  background-size: 50%, contain;
}
.LA { background-image: url('../images/stateFlags/LA.png');
  background-position: 0rem 0rem;
  background-repeat: no-repeat;
  background-size: 50%, contain;
}
.MA { background-image: url('../images/stateFlags/MA.png');
  background-position: 0rem 0rem;
  background-repeat: no-repeat;
  background-size: 50%, contain;
}
.MD { background-image: url('../images/stateFlags/MD.png');
  background-position: 0rem 0rem;
  background-repeat: no-repeat;
  background-size: 50%, contain;
}
.ME { background-image: url('../images/stateFlags/ME.png');
  background-position: 0rem 0rem;
  background-repeat: no-repeat;
  background-size: 50%, contain;
}
.MI { background-image: url('../images/stateFlags/MI.png');
  background-position: 0rem 0rem;
  background-repeat: no-repeat;
  background-size: 50%, contain;
}
.NC { background-image: url('../images/stateFlags/NC.png');
  background-position: 0rem 0rem;
  background-repeat: no-repeat;
  background-size: 50%, contain;
}
.ND { background-image: url('../images/stateFlags/ND.png');
  background-position: 0rem 0rem;
  background-repeat: no-repeat;
  background-size: 50%, contain;
}
.NE { background-image: url('../images/stateFlags/NE.png');
  background-position: 0rem 0rem;
  background-repeat: no-repeat;
  background-size: 50%, contain;
}
.NH { background-image: url('../images/stateFlags/NH.png');
  background-position: 0rem 0rem;
  background-repeat: no-repeat;
  background-size: 50%, contain;
}
.NJ { background-image: url('../images/stateFlags/NJ.png');
  background-position: 0rem 0rem;
  background-repeat: no-repeat;
  background-size: 50%, contain;
}
.NM { background-image: url('../images/stateFlags/NM.png');
  background-position: 0rem 0rem;
  background-repeat: no-repeat;
  background-size: 50%, contain;
}
.NV { background-image: url('../images/stateFlags/NV.png');
  background-position: 0rem 0rem;
  background-repeat: no-repeat;
  background-size: 50%, contain;
}
.NY { background-image: url('../images/stateFlags/NY.png');
  background-position: 0rem 0rem;
  background-repeat: no-repeat;
  background-size: 50%, contain;
}
.OH { background-image: url('../images/stateFlags/OH.png');
  background-position: 0rem 0rem;
  background-repeat: no-repeat;
  background-size: 50%, contain;
}
.OK { background-image: url('../images/stateFlags/OK.png');
  background-position: 0rem 0rem;
  background-repeat: no-repeat;
  background-size: 50%, contain;
}
.OR { background-image: url('../images/stateFlags/OR.png');
  background-position: 0rem 0rem;
  background-repeat: no-repeat;
  background-size: 50%, contain;
}
.PA { background-image: url('../images/stateFlags/PA.png');
  background-position: 0rem 0rem;
  background-repeat: no-repeat;
  background-size: 50%, contain;
}
.RI { background-image: url('../images/stateFlags/RI.png');
  background-position: 0rem 0rem;
  background-repeat: no-repeat;
  background-size: 50%, contain;
}
.SC { background-image: url('../images/stateFlags/SC.png');
  background-position: 0rem 0rem;
  background-repeat: no-repeat;
  background-size: 50%, contain;
}
.SD { background-image: url('../images/stateFlags/SD.png');
  background-position: 0rem 0rem;
  background-repeat: no-repeat;
  background-size: 50%, contain;
}
.TN { background-image: url('../images/stateFlags/TN.png');
  background-position: 0rem 0rem;
  background-repeat: no-repeat;
  background-size: 50%, contain;
}
.TX { background-image: url('../images/stateFlags/TX.png');
  background-position: 0rem 0rem;
  background-repeat: no-repeat;
  background-size: 50%, contain;
}
.UT { background-image: url('../images/stateFlags/UT.png');
  background-position: 0rem 0rem;
  background-repeat: no-repeat;
  background-size: 50%, contain;
}
.VA { background-image: url('../images/stateFlags/VA.png');
  background-position: 0rem 0rem;
  background-repeat: no-repeat;
  background-size: 50%, contain;
}
.VT { background-image: url('../images/stateFlags/VT.png');
  background-position: 0rem 0rem;
  background-repeat: no-repeat;
  background-size: 50%, contain;
}
.WA { background-image: url('../images/stateFlags/WA.png');
  background-position: 0rem 0rem;
  background-repeat: no-repeat;
  background-size: 50%, contain;

}
.WI { background-image: url('../images/stateFlags/WI.png');
  background-position: 0rem 0rem;
  background-repeat: no-repeat;
  background-size: 50%, contain;
}
.WV { background-image: url('../images/stateFlags/WV.png');
  background-position: 0rem 0rem;
  background-repeat: no-repeat;
  background-size: 50%, contain;
}
.WY { background-image: url('../images/stateFlags/WY.png');
  background-position: 0rem 0rem;
  background-repeat: no-repeat;
  background-size: 50%, contain;
}
