/* sidebar  sidebar  sidebar  sidebar  sidebar  sidebar */

.row {
	margin: 0;
}
#sidebar {
	z-index: 1000000;
	background: rgba(99, 99, 253, 0.3);
	position: fixed;
	padding: 0;
  //margin-left: 10rem;
	top: 50px;
	right: 0px;
	//width: 100%;
	//transition: 3s width;
	//transition-property: width;
	//transition-duration: 3s;
	//transition-timing-function: initial;
	//transition-delay: initial;
}
/* sidebar  sidebar  sidebar  sidebar  sidebar  sidebar */
